.circle {
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.offline {
    background-color: #E74C3C;
}

.online {
    background-color: #2ECC71;
}

.busy {
    background-color: #F39C12;
}

.default {
    background-color: dimgrey;
}